# dotenv-linter:off IncorrectDelimiter

# Do not commit your actual .env file to Git! This may contain secrets or other
# private information.
# This is an example .env for test of the (AIVA) run action
# Fill in the vars and rename this to ".env"

# Enable/disable step debug logging (default: `false`). For local debugging, it
# may be useful to set it to `true`.
ACTIONS_STEP_DEBUG=true

# GitHub Actions inputs should follow `INPUT_<name>` format (case-sensitive).
# Hyphens should not be converted to underscores!
INPUT_API-KEY=<your-env-here>
INPUT_LABELS=<label of your tests>
INPUT_MAXNUMBEROFAGENTS="3"
INPUT_TESTNAME="Github Action Local Test"

# Vars related to Github
GITHUB_STEP_SUMMARY="/tmp/summary.md"
